{% extends 'learning_log/base.html' %}
{% block content %}
    <div style="margin-left: 250px" class="card" id="topics-card">
        <h1 style="padding-bottom: 16px;">Topics</h1>
        <ul>
            {% for topic in topics %}
                <a href="{% url 'learning_log:topic' topic.id%}" class="topics-links"><li><h3>{{ topic }}</h3></li></a>
            {% empty %}
                <li>No topics have been added yet.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'learning_log:new_topic' %}" class="topics-links1" style="background-color: black; color: white; border-radius: 20px; padding: 12px;  margin-left: 380px; width: 136px; margin-top: 30px;">Add New Topic</a>
    </div>
{% endblock content %}