.body {
    background-image: url('../images/books.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
}
h4{
    display: inline;
}
h5 {
    display: inline;
}
a {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    font-size: 24.8px;
    transition: 0.5s;
    color: black;
}
#register-account {
    color: rgb(180, 178, 178);
}
#register-account:hover{
    font-size: 28.8px;
    transition: 0.5s;
    color:rgb(113, 110, 110);
}
nav {
    background-color:rgb(30, 96, 120); 
    padding-right: 70px; 
    padding-top: 25px; 
    padding-bottom: 25px;
}
#card {
    width: 900px;
    background-color: rgb(4, 78, 105); 
    padding: 30px;
    border-radius: 20px;
    color: aliceblue;
}
#card1 {
    width: 700px;
    background-color: rgb(4, 78, 105); ;
    padding: 80px;
    border-radius: 20px;
    color: aliceblue;
    margin-top: 100px;
    margin-left: 400px;
}
#card2 {
    width: 1000px;
    background-color:rgb(4, 78, 105); 
    padding: 40px;
    border-radius: 30px;
    color: rgb(235, 241, 245);
}
#track-your-learning {
    width: 900px;
    background-color: rgb(4, 78, 105); 
    padding: 30px;
    border-radius: 20px;
    color: aliceblue;
}
#track-your-learning:hover {
    background-color: rgb(4, 78, 105); 
    padding: 34px;
    border-radius: 20px;
    color: aliceblue;
    transition: 0.5s;
}
#register-account-card {
    width: 1000px;
    background-color:rgb(31, 86, 106); 
    padding: 60px;
    border-radius: 30px;
    color: rgb(235, 241, 245);
    opacity: 0.95;
}
#register-account-card:hover {
    transition: 0.5s;
    width: 1000px;
    background-color:rgb(3, 59, 79); 
    padding: 62px;
    border-radius: 30px;
    color: rgb(235, 241, 245);
    opacity: 1;
}