{% extends 'learning_log/base.html' %}
{% block content %}
<div class="card" id="register-card">
    <h1 style="margin-bottom: 20px; color: black;">Register an Account</h1>
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit" style="border-radius: 15px; padding: 10px; background-color: black; width: 100px; color: white; margin-left: 250px;">Register</button>
        <input type="hidden" name="next" value="{% url 'learning_log:home' %}" />
    </form>
</div>
{% endblock content %}